.div-table {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	gap: 1px;
	background-color: #ccc;
	border: 1px solid #ccc;
}

.div-cell {
	padding: 12px;
	background-color: #fff;
}
